
/.vs
/4roomforum/obj
/MicroServices/PostService/obj
/MicroServices/UserServices/obj
/MicroServices/CatThreadService/obj
*.user
.env
.env.*
!.env.example

**/bin/
**/obj/


*.dll
*.exe
*.pdb
*.nuget.g.props
*.nuget.g.targets
*.nuget.cache
*.assets.cache
*.editorconfig
*.AssemblyInfo.cs
*.AssemblyInfoInputs.cache

**/Debug/
**/Release/